*.log
harborUI
jobservice/jobservice
jobservice/test
.idea
*.log
Deploy/local/data
Deploy/local/log
*.pyc
jobservice/test
Deploy/local/data
Deploy/local/log
jobservice/jobservice
Deploy/local/config/nginx/cert/hsjry.*
